<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container"><br><br>
        <h2 class="header center blue-text">Review products in Gummi Bear Kingdom</h2>
        <div class="row center">
          <h5 class="header col s12 light">The People want the truth. We don't want any else to get ripped off</h5>
          <p class="header col s12 light">Lets fight back!</p>
        </div>
        <div class="row center">
          <%= link_to "Sign up", signup_path, class: "btn waves-effect waves-light blue lighten-1" %>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><%= image_tag "2pic", class: 'parallax-image' %></div>
  </div>
<!-- part 2 -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"></h2>
            <h3 class="center">Stuff</h3>
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center">Stuff</h3>
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center">Stuff</h3>
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 2 pic -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 white-text">Praticing with parallax</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "4pic", class: 'parallax-image' %></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4>Contact Us</h4>
          <p class="center-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        </div>
      </div>
    </div>
  </div>
<!-- last -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">More pratice with parallax</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "5pic", class: 'parallax-image' %></div>
  </div>
  <div class="container">
    <div class="center">
      <small class="grey-text">kftwotwo</small>
    </div>
  </div>

</body>
